<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!--下划线驼峰自动转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--标准日志输出-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="password"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 
        使用MyBatis注解开发，在mybatis的核心配置文件中注入 
        读取的根目录是resource目录
    -->
    <mappers>
        <!--User的配置文件-->
        <mapper resource="mapper/UserMapper.xml"/>
        
        <!--UserAnnotation注解开发相关的配置文件-->
        <mapper class="mapper.UserAnnotationMapper"/>
        
        <!--学生和老师对应关系查询的配置文件-->
        <!--<mapper resource="mapper/StudentMapper.xml"/>-->
        <!--<mapper resource="mapper/TeacherMapper.xml"/>-->
        
        <!--Blog的配置文件-->
        <mapper resource="mapper/BlogMapper.xml"/>
    </mappers>
    
</configuration>