<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mapper.StudentMapper">

    <!--
       【一对多（方法一）：按查询嵌套处理】
       需求：获取所有学生及对应老师的信息
       思路：
           1. 获取所有学生的信息
           2. 根据获取的学生信息的老师ID->获取该老师的信息
           3. 思考问题，这样学生的结果集中应该包含老师，该如何处理呢，数据库中我们一般使用关联查询？
               1. 做一个结果集映射：StudentTeacher
               2. StudentTeacher结果集的类型为 base.Student
               3. 学生中老师的属性为teacher，对应数据库中为tid。
                  多个 [1,...）学生关联一个老师=> 一对一，一对多
               4. 查看官网找到：association – 一个复杂类型的关联；使用它来处理关联查询
       -->
    <select id="getStudent1" resultMap="StudentTeacher">
        SELECT * FROM mybatis.student;
    </select>
    <resultMap id="StudentTeacher" type="pojo.base.Student">
        <!--association关联属性
            property属性名
            javaType属性类型
            column在多的一方的表中的列名
        -->
        <result property="id" column="id"/>
        <result property="studentName" column="studentName"/>
        <association property="teacher" column="tid" javaType="pojo.Teacher" select="getTeacher"/>
    </resultMap>
    <!--
   这里传递过来的id，只有一个属性的时候，下面可以写任何值
   association中column多参数配置：
       column="{key=value,key=value}"
       其实就是键值对的形式，key是传给下个sql的取值名称，value是片段一中sql查询的字段名。
   -->
    <select id="getTeacher" resultType="pojo.Teacher">
        SELECT * FROM mybatis.teacher WHERE id=#{tid};
    </select>

    <!--【多对一，按结果嵌套处理，联合查询】-->
    <select id="getStudent2" resultMap="StudentTeacher2">
        SELECT s.id AS sid, s.student_name AS sname, s.tid, t.teacher_name AS tname
        FROM mybatis.student AS s ,
                      mybatis.teacher AS t
        WHERE s.tid = t.id
    </select>
    <resultMap id="StudentTeacher2" type="pojo.base.Student">
        <id property="id" column="sid"/>
        <result property="studentName" column="sname"/>
        <!--关联对象property 关联对象在Student实体类中的属性-->
        <association property="teacher" javaType="pojo.Teacher">
            <result property="teacherName" column="tname"/>
        </association>
    </resultMap>
</mapper>