<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!--注册bean-->
	<bean id="userService" class="aop_realization_three.spring_api.base.UserServiceImpl"/>
	<bean id="beforeLog" class="aop_realization_three.spring_api.BeforeLog"/>
	<bean id="afterLog" class="aop_realization_three.spring_api.AfterLog"/>
	
	<!--aop的配置-->
	<aop:config>
		<!--切入点 expression：表达式陪陪要执行的方法-->
		<aop:pointcut id="pointcut" expression="execution(* aop_realization_three.spring_api.base.UserServiceImpl.*(..))"/>
		<!--执行环绕；advice-ref执行方法，pointcut-ref切入点-->
		<aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>
		<aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>
	</aop:config>
</beans>