#register{
    width: 460px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f0f0f0;
    padding: 10px 30px 30px 30px;
    -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}