{% extends 'web/layout/basic.html' %}
{% load static %}

{% block title %}用户注册{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "web/css/account.css" %}">
    <style>
        .error-msg{
            color: red;
            position: absolute;
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="register">
        <h1 style="text-align: center">注册页面</h1>
        <form action="">
            {% for field in form %}
                {% if field.name == "code" %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-7" style="padding-left: 0;">{{ field }}</div>
                            <div class="col-md-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">注 册</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        // 页面框架加载完成之后自动执行函数
        $(function () {
            bindClickBtnSms();
        });

        /* 点击获取验证码的点击事件 */
        function bindClickBtnSms() {
            $("#btnSms").click(function () {
                // 获取用户输入的手机号
                const mobilePhone = $("#id_mobile_phone").val();

                // 发送 ajax 请求，把手机号发送过去
                $.ajax({
                    // 要发送请求的地址，会自动拼接地址如：http://www.xx.com/index/?id=1&type=2
                    {#url: "{% url '/web/send_sms/' %}", // 等价于 /send/sms/#}
                    url: "/web/send_sms/", // 等价于 /send/sms/

                    // 请求方式
                    type: "GET",

                    // 请求发送参数
                    data: {
                        mobile_phone: mobilePhone,
                        tpl: "register" // 注册时使用的短信验证码模板参数
                    },

                    // 将服务端返回的数据反序列化为字典
                    dataType: "JSON",
                    success: function (res) {
                        // ajax 请求发送成功以后，自动执行的函数，res 就是后端返回的值
                        if (res.status) {
                            sendSmsRemind();
                        } else {
                            // 每一次显示的时候都把上一次的错误信息进行清空
                            $(".error-msg").empty();
                            // 错误信息 {status: false, error: {mobile_phone: ["这个字段是必填项。"]}}
                            console.log(res)
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })

        }

        /* 倒计时 */
        function sendSmsRemind() {
            var $smsBtn = $("#btnSms");
            $smsBtn.prop("disabled", true);
            var time = 60;
            const remind = setInterval(function () {
                $smsBtn.val(time + "秒后重新发送");
                time = time - 1
                if (time < 1) {
                    clearInterval(remind);
                    $smsBtn.val("点击获取验证码").prop("disabled", false);
                }
            }, 1000);
        }
    </script>
{% endblock %}